/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 11:02:09 AM
    Author     : davide
*/
/* INIZIO CODICE PER TUTTE LE PAGINE */
body
{
    background-color: #67FFA8;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

header
{
    /*background-color: red; /**/
}

h1
{
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    color: #111111;
    font: 35px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
    /*background-color: red;/**/
}

h2
{
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    
    color: #222222;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3
{
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    
    color: #111111;
    font: 24px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
.buttonConfirm
{
    font-weight: bold;
}
a:link
{
   
    text-decoration: none;
    color: #111111;
}

a:visited
{
    text-decoration: none;
    color: #111111;
}

a:hover
{
    /*font-weight: bold;/**/
}

nav
{
    height: 50px;
    border: 2px solid green;
}
nav ol, nav ul, nav li
{   
    margin: 0;
    padding:0;
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    width: 100%;
    
    /*background-color: red; /**/
}
li
{
    text-align: center;
}
li.active
{
    background-color: #2D9C5B;
}
li#nerdbook
{
    font-weight: bold;
    font-size:50px;
    width: 25%;
    height: 38px;
    padding-top: 13px;
    border-right: 2px solid green;
    /*background-color: blue;/**/
}
li.indice
{
    /*background-color: red;/**/
    width: 200px;
    padding-top: 13px;
    height: 38px;
    margin-left: -7px;
    position: relative;
    top: -8px;
}
li.indice:hover
{
    font-size: 28px;
}
li.indice:last-child
{
    float: right;
    position: relative;
    top: -34px;
    font-size: 18px;
}
li.indice:last-child>a
{
    /*background-color: red;/**/
    position: relative;
    left: 20px;
}
li.indice:last-child>a:hover
{
    text-decoration: underline;
}
li.indice:last-child:hover
{
    background-color: transparent;
    text-align: center;
}
li.indice:last-child>img
{
    width: 40px;
    height: 40px;
    position: relative;
    top: 25px;
    right: 8px;
}
#divBody
{
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*background-color: red;/**/
    
}
/* FINE CODICE PER TUTTE LE PAGINE */

/* INIZIO CODICE BACHECA */
#leftSideBar
{
    /*background-color: blue; /**/
    float: left;
    width: 400px;
    border: 2px solid green; /**/
    margin-right: 10px;
    padding:10px;
}
#searchText
{
    display:none;
}
.sezioneTitle
{
    text-align: center;
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    color: #222222;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
    
}
.persona, .gruppo
{
    /* background-color: pink; /**/
    font-weight: bold;
    
}
.persona::before
{
    content: url(../img/userImgDefault.png);
    position: relative;
    top: 10px;
}
#titleGruppo::after
{
    content: url(../img/groupImg.png);
    position: relative;
    top: 12px; 
    left: 8px;
}
#gruppoCucina::before
{
    content: url(../img/groupCucina.png);
    position: relative;
    top: 12px;  
}
#gruppoAerei::before
{
    content: url(../img/groupAirplane.png);
    position: relative;
    top: 12px;  
}
#divContent
{
    /*background-color: blue;/**/
    border: 2px solid green; /**/
    width: 1300px;
    float: left;
}
#divFrasePersonale
{
    margin:0;
    /*background-color: red;/**/
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid green; 
}

#frasePersonale
{
   margin:0;
   margin-left: 60px;
   font-weight: bold;
   font-size: 18px;
}

#frasePersonale::before
{
    content: url(../img/userImgDefault.png);
    position: relative;
    top: 16px;
}
.post
{
    /*background-color: blue; /**/
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid green; 
}
.userPost
{
    font-weight: bold;
    font-size: 20px;
}
.userPost>img
{
    height: 80px;
    width: 80px;
}
.contentPost
{
    width: 100%;
}
.contentImage
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red;/**/
}
.contentImage>img
{
    max-width: 100%;
    height: 700px;
    max-height: 400px;
}
/* FINE CODICE BACHECA */
/* INIZIO CODICE PROFILO */
#datiFormProfilo
{
    float: left;
    padding: 60px;
    border: 2px solid green;
    margin-left: 50px;
}
#imgFormProfilo
{
    max-width:  200px;
    max-height: 200px;
    
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    border: 2px solid green;
    float: left;
}
#imgFormProfilo img
{
    max-width:  100%;
    max-height: 100%;
}
#formProfilo
{
    margin-left: 40px;
    float: left;
}
#formProfilo label
{
    width: 10px;
    background-color: red;
}
#formProfilo .buttonConfirm
{
    width: 100%;
}
.singoloCampo
{   
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}
.singoloCampo input
{
    float: right;
    margin-left: 20px;
}

/* FINE CODICE PROFILO */
/* INIZIO CODICE LOGIN */
#loginHeader, #formLogin
{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#loginHeader
{
    margin-top: 70px;
    width: 500px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#loginHeader>img
{
    width: 54px;
    height: 44px;
    position: relative;
    top: 4px;
}
#formLogin
{
    padding: 40px;
    width: 400px;
    border: 2px solid green;
    font-weight: bold;
}
.inputLogin
{
    margin-left:auto;
    margin-right: auto;
    width: 245px;
}
.inputLogin label::after
{
    content: '\A';
    white-space: pre;
}
.inputLogin .buttonConfirm
{
    margin-top: 20px;
    width: 245px;
}

/* FINE CODICE LOGIN */

.red
{
    background-color: red;
}
.blue
{
    background-color: blue;
}