/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 11:02:09 AM
    Author     : davide
*/

body
{
    background-color: #3AC975;
    font: 17px/25px "Open Sans", Arial, sans-serif;   
}

header
{
    /*background-color: red; /**/
    height: 90px;
}

h1
{
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    
    color: #111111;
    font: 35px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
    /*background-color: red;/**/
}

h2
{
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    
    color: #222222;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3
{
    margin-top: 0px; /*Esaminato con inspector*/
    margin-bottom: 0;
    
    color: #111111;
    font: 24px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

a:link
{
   
    text-decoration: none;
    color: #111111;
}

a:visited
{
    text-decoration: none;
    color: #111111;
}

a:hover
{
    /*font-weight: bold;/**/
}

nav
{
    width: 100%;
    
    border: 2px solid green;
}
nav ol, nav ul, nav li
{   
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    
    /*background-color: blue; /**/
}


/* INIZIO BACHECA */
#divHeader
{
    display: flex; 
}
div#nerdbook
{
    width: 30%;
    height: 58px;
    font-size: 44px;
    text-align: center;
    border: 2px solid green;
    border-right:0px;
    padding-top: 30px;
    /* background-color: blue;/**/
}
li.indice
{
    /*background-color: red;/**/
    height: 58px;
    width: 20%;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}
li.indice:hover
{
    background-color: #2D9C5B;
}
#divBody
{
    background-color: blue;/**/
    margin-left: 23.15%; /* PROBABILMENTE DA TOGLIERE */
    
    border: 2px solid green;
}
#fraseProfilo
{
    /*background-color: red;/**/
    padding-top: 20px;
    padding-left: 100px;
    height: 40px;
    font-weight: bold;
    border-bottom: 2px solid green;
    
}

#fraseProfilo::before
{
    content: url(../img/userImgDefault.png);
}
/* FINE BACHECA */